.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: $secondary-color;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  @include font(900, 44px, 1.36, null);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero__button {
  font-family: inherit;
}
