.section-tasks {
  padding-top: 94px;
  padding-bottom: 94px;
}

.tasks-list {
  display: flex;
  margin-left: -30px;
}

.tasks-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.tasks-list__item::before {
  display: flex;
  margin-bottom: 30px;
  content: "";
  width: 270px;
  height: 120px;
  background: $bg-secondary;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.tasks-list__title {
  margin-bottom: 10px;

  @include font(700, 14px, 1.14, null);
  text-transform: uppercase;
}

.tasks-list__paragraph {
  @include font(null, 14px, 1.71, normal);

  color: $paragraph-color;
}
