.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;

  @include font(null, 36px, 1.17, null);
  text-align: center;

  color: $primary-color;
}

.clients__list {
  display: flex;
  margin-left: -30px;
}

.clients__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  background-color: $secondary-color;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}

.clients__link {
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
