$primary-color: #212121;
$secondary-color: #ffffff;
$accent-color: #2196f3;
$paragraph-color: #757575;
$additional-color: rgba(255, 255, 255, 0.6);
$black-color: black;
$bg-primary: #2f303a;
$bg-secondary: #f5f4fa;

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
